h1{
    text-align: center;
   color: darkorchid ;
   text-decoration-line: underline;
}
 form  {
     background-size: 50%;
     background-color: darkorchid;
     color: white;
     text-align: justify;
     margin: auto;
     padding: 20px 0px 15px 25px;
     border: 2px solid black;   
}
 p{
     font-size: 34px;
     text-align: center;
     color: darkorchid;
     font-weight: bold;
 }
 #green {
     color: chartreuse;
 }
   